@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --cor_margens: #1b357e;
    --cor_botoes: #1351db;
    --cor_cinza_claro: #ebedf3;
    --cor_fundo: #0c1f55;
}

body {
    background: #ffffff;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 64%, rgba(144, 173, 238, 1) 87%, rgba(19, 81, 219, 1) 100%);
}