@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --cor_margens: #1b357e;
    --cor_botoes: #1351db;
    --cor_emilly: #1242a8;
    --cor_cinza_claro: #ebedf3;
    --cor_cinza_clarinho: #f5f8ff;
    --cor_fundo: #0c1f55;
    --cor_perigo: #c70000;
    --cor_sangue: #3e0000;
    --cor_nestor: #021744;
}