<header>

    <div class="logo">
        <img src="img/logo-ford-256.png" alt="Ford Logo" class="logo_img">
    </div>

</header>


<div class="universal">
    <router-outlet />
</div>


<footer>

    <div class="redes">
        <p>Redes Sociais</p>

        <div class="social_img">
            <a target="_blank" href="https://www.facebook.com/FordBrasil/?locale=pt_BR"><img
                    src="img/facebook-50.png" alt="Facebook Logo" class="social_links"></a>
            <a target="_blank" href="http://youtube.com/@fordbrasil"><img src="img/youtube-squared-50.png"
                    alt="YouTube Logo" class="social_links"></a>
            <a target="_blank" href="https://www.instagram.com/fordbrasil/"><img src="img/instagram-logo-50.png"
                    alt="Instagram Logo" class="social_links"></a>
        </div>
    </div>

    <nav class="social">
        <div class="copyright">
            <P>&copy; 2026 Ford Brasil | Viva o Novo. Todos os direitos reservados.</P>
        </div>

        <div class="logo2">
            <img src="img/ford-96.png" alt="Ford Logo" class="logo_img2">
        </div>
    </nav>

</footer>