* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.universal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0C1F55;
    background: linear-gradient(0deg, rgba(12, 31, 85, 1) 43%, rgba(19, 81, 219, 1) 85%);
}       