<form class="login-forms">

    <h2>Boas-vindas</h2>

    <div class="email-forms">
        <label for="email-login" class="email-label">Seu Email</label>

        <input type="email" class="email-input" id="email-login" aria-describedby="email-help">
    </div>

    <div class="senha-forms">
        <label for="senha-login" class="senha-label">Sua Senha</label>

        <input type="password" class="senha-input" id="senha-login">
    </div>

    <!-- <div class="help-forms">
        <input type="checkbox" class="help-input" id="help-login">
        <label class="help-label" for="help-login">Lembre-me</label>
    </div> -->

    <div class="btn-forms">
        <button type="submit" class="entrar-btn">Entrar</button>
    </div>
    
</form>