<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="login-forms">

    <h2>Boas-vindas</h2>

    <div class="usuario-forms">
        <label for="usuario-login" class="usuario-label">Seu Usuário</label>

        <input formControlName="nome" type="text" class="usuario-input" id="usuario-login" aria-describedby="usuario-help," required="" placeholder="usuário123">
    </div>

    <div class="senha-forms">
        <label for="senha-login" class="senha-label">Sua Senha</label>

        <input formControlName="senha" type="password" class="senha-input" id="senha-login" aria-describedby="senha-help," required="" placeholder="********">
    </div>

    <!-- <div class="help-forms">
        <input type="checkbox" class="help-input" id="help-login">
        <label class="help-label" for="help-login">Lembre-me</label>
    </div> -->

    <div class="btn-forms">
        <button type="submit" class="entrar-btn">Entrar</button>
    </div>

    
</form>
