.tabelinha {
  width: 100vw;
  height: 7vh;
  margin-top: 20px;
}

.tabela-carros {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--cor_margens);
}

.info-tabela {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  padding: 18px 20px;
  text-align: left;
}

.info-tabela:first-child {
  padding-left: 2%;
}

thead th {
  border: 1px solid black;
}

.valores-tabela td {
  padding: 18px 10px;
  color: #333333;
  font-size: 18px;
}