<div class="tabelinha">
  <table class="tabela-carros">
    <thead class="tabela-cabecalho">
      <tr>
        <th class="info-tabela col-vin">Código - Vin</th>
        <th class="info-tabela">Odômetro</th>
        <th class="info-tabela">Nível de Combustível</th>
        <th class="info-tabela">Status</th>
        <th class="info-tabela">Lat.</th>
        <th class="info-tabela">Long.</th>
      </tr>
    </thead>
    <tbody class="valores-tabela">
      <tr>
        <td class="col-vin-input">
          <input class="vin-input" type="text" placeholder="Código VIN" value="{{ vin }}" (input)="onChangeVin($event)">
          <button (click)="pesquisar()" class="lupa">
            <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
        </td>
        <td class="info-tabela">{{odometro}}Km</td>
        <td class="info-tabela">{{nivelCombustivel}}%</td>
        <td class="info-tabela">--</td>
        <td class="info-tabela">0</td>
        <td class="info-tabela">0</td>
      </tr>
    </tbody>
  </table>
</div>