<div class="tabelinha">
  <table class="tabela-carros">
    <thead class="tabela-cabecalho">
      <tr>
        <th class="info-tabela col-vin">Código - Vin</th>
        <th class="info-tabela">Odômetro</th>
        <th class="info-tabela">Nível de Combustível</th>
        <th class="info-tabela">Status</th>
        <th class="info-tabela">Lat.</th>
        <th class="info-tabela">Long.</th>
      </tr>
    </thead>
    <tbody class="valores-tabela">
      <tr>
        <td class="col-vin-input">
          <input class="vin-input" type="text" placeholder="{{ vin }}" value="{{ vin }}">
        </td>
        <td class="info-tabela">{{odometro}}Km</td>
        <td class="info-tabela">{{nivelCombustivel}}%</td>
        <td class="info-tabela">--</td>
        <td class="info-tabela">0</td>
        <td class="info-tabela">0</td>
      </tr>
    </tbody>
  </table>
</div>