body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0C1F55;
    background: linear-gradient(0deg, #0c1f55 43%, #1351db 85%);
}

.head {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
}

.logo {
    display: flex;
    justify-self: start;
    width: 12%;
    margin-left: 1%;
}

.btn-div {
    width: 73.8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    border: 2px solid var(--cor_fundo);
    padding: 1%;
    border-radius: 7.5px;
    background-color: var(--cor_margens);
    color: white;
    font-size: 20px;
    width: 15%;
    height: 70%;
    font-family: "Montserrat", sans-serif;
}

.offcanvas-header {
    display: flex;
    justify-content: end;
}

.logo-dentro {
    display: flex;
    width: 100%;
}

.btn-close {
    margin-left: 30%;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-btn {
    display: flex;
    justify-content: center;
    border: 1px solid var(--cor_fundo);
    padding: 3%;
    border-radius: 7px;
    background-color: white;
    color: var(--cor_margens);
    font-size: 20px;
    width: 80%;
    height: 8%;
    font-family: "Montserrat", sans-serif;
}

.logout-btn {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 3%;
    border-radius: 7px;
    background-color: rgb(199, 0, 0);
    color: white;
    font-size: 20px;
    width: 80%;
    height: 8%;
    font-family: "Montserrat", sans-serif;
}

.offcanvas {
    background: #142d73;
    background: linear-gradient(0deg, #142d73 19%, #1962ff 100%);
}


.redes {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    margin-bottom: 5%;
}

.redes p {
    font-size: larger;
    text-align: center;
    align-self: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.social_img {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3%;
}

.social_links {
    width: 100%;
}

.social_links:hover {
    transition: 0.15s;
    transform: scale(1.03);
}

/* coisas do carrosel */
.carrossel-container {
    position: relative;
    width: 100%;
    border-radius: 30px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6%;
    margin-bottom: 6%;
}

.carrossel-trilho {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carrossel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carrossel-item img {
    width: 100%;
    display: block;
}

.btn-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.1s;
}

.btn-ant {
    left: 0;
}

.btn-prox {
    right: 0;
}

.carrossel-container:hover .btn-nav {
    opacity: 1;
}

.btn-nav:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.copyright {
    padding-top: 1%;
    padding-left: 3%;
    display: flex;
    font-size: 100%;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color: white;
}