<body>

  <div #meuModal class="modal fade" id="meuModalExemplo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="color: black;">
        <div class="modal-header">
          <h5 class="modal-title">FORD</h5>
          <button type="button" class="fechar-modal btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          BOAS VINDAS!!!
        </div>
      </div>
    </div>
  </div>

  <div class="head">
    <img class="logo" src="img/ford-logo.png" alt="">
    <div class="btn-div">
      <button class="menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        Menu
      </button>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img class="logo-dentro" src="img/ford-96.png" alt=""></h5>
      <!-- <button type="button" class="btn-fechar btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">
      <button class="dashboard-btn" (click)="goToDashboard()">Dashboard</button>
      <button (click)="logout()" class="logout-btn">Sair</button>
    </div>
    <div class="redes">
      <p>Redes Sociais</p>

      <div class="social_img">
        <a target="_blank" href="https://www.facebook.com/FordBrasil/?locale=pt_BR"><img src="img/facebook-50.png"
            alt="Facebook Logo" class="social_links"></a>
        <a target="_blank" href="http://youtube.com/@fordbrasil"><img src="img/youtube-squared-50.png"
            alt="YouTube Logo" class="social_links"></a>
        <a target="_blank" href="https://www.instagram.com/fordbrasil/"><img src="img/instagram-logo-50.png"
            alt="Instagram Logo" class="social_links"></a>
      </div>
    </div>
  </div>

  <!-- carrossel principal -->
  <div class="carrossel-container">

    <div class="carrossel-trilho" [ngStyle]="{'transform': 'translateX(' + (-indexAtual * 100) + '%)'}">

      <div class="carrossel-item" *ngFor="let img of imagens">
        <img [src]="img" class="img-carrossel" alt="Slide Ford">
      </div>

    </div>

    <button type="button" class="btn-nav btn-ant" (click)="anterior()">&#10094;</button>
    <button type="button" class="btn-nav btn-prox" (click)="proximo()">&#10095;</button>
  </div>

  <!-- carrossel secundário responsivo -->
  <div class="carrossel-container-extra">
    <div class="carrossel-trilho-extra" [ngStyle]="{'transform': 'translateX(' + (-indexAtual1 * 100) + '%)'}">
      <div class="carrossel-item-extra" *ngFor="let img1 of imagens1">
        <img [src]="img1" class="img-carrossel-extra" alt="Slide Ford">
      </div>
    </div>
    <button type="button" class="btn-extra btn-ant1" (click)="anterior1()">&#10094;</button>
    <button type="button" class="btn-extra btn-prox1" (click)="proximo1()">&#10095;</button>
  </div>

<div class="carrossel-container-extra2">
  
  <div class="carrossel-trilho-extra" [ngStyle]="{'transform': 'translateX(' + (-indexAtual2 * 100) + '%)'}">
    
    <div class="carrossel-item-extra" *ngFor="let img2 of imagens2">
      <img [src]="img2" class="img-carrossel-extra" alt="Slide Ford">
    </div>
  </div>
  
  <button type="button" class="btn-extra2 btn-ant2" (click)="anterior2()">&#10094;</button>
  <button type="button" class="btn-extra2 btn-prox2" (click)="proximo2()">&#10095;</button>
</div>

  <div class="copyright">
    <P>&copy; 2026 Ford Brasil | Viva o Novo. Todos os direitos reservados.</P>
  </div>

</body>